/* Assets */
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
h1,h2,h3,p,a,li,input,label {
  font-family: sans-serif;
}
.btn {
  cursor: pointer;
  text-align: center;
  margin: 1rem;
  padding: 1rem .7rem;
  border: 2px solid rgba(32, 173, 32, 0.349);
  background-color: #176117;
  color: white;
  border-radius: 5px;
  box-shadow: -2px -3px 3px transparent;
  text-decoration: none;
  font-weight: 600;
  transition: all .2s ease;
}
.btn:hover {
  box-shadow: 2px 3px 3px #555;
}

#body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
marquee {
  width: 50%;
  min-width: 650px;
}
#main-title {
  justify-content: center;
  align-items: center;
}
#main-title h1 {
  font-size: 2rem;
}
#task {
  width: 80%;
}
#task .column {
  justify-content: center;
  align-items: center;
}
#task .column .text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#task .column .text-wrapper h2 {
  width: 100%;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
}
#task .column .text-wrapper p, 
#task .column .text-wrapper label {
  color: white;
  line-height: 1.2rem;
  text-shadow: 1px 1px 2px #000;
  font-weight: 600;
}
#task .column .text-wrapper .btn-wrapper {
  justify-content: space-evenly;
}

